<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>

<form th:action="@{/updateUser(id=${userForUpdate.getId()})}" th:object="${userForUpdate}" th:method="patch">

  <div>
    <label>Name</label>
    <input type="text" th:field="*{name}" />
  </div>
  <div>
    <label>Surname</label>
    <input type="text" th:field="*{surname}" />
  </div>
  <div>
    <label>City</label>
    <input type="text" th:field="*{city}" />
  </div>

  <div>
    <label>Age</label>
    <input type="number" th:field="*{age}" />
  </div>

  <br/>

  <input type="submit" value="Update"/>
</form>

</body>
</html>